/* REGISTER */

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    height: 100%;
    margin: 0;
}

:root {
    --primary-color: #ffffff;
    --accent-color: #266a2d;
    --font-main: 'Poppins', sans-serif;
}

.green-header {
    width: 100%;
    font-family: var(--font-main);
    color: var(--accent-color);
    font-size: 1.2em;
}

.solidgreen1 {
    background-color: var(--accent-color);
    height: 1.5em;
    width: 100%;
}

.solidgreen2 {
    background-color: var(--accent-color);
    height: 1em;
    width: 100%;
}

.green-header>div:nth-child(2) {
    margin-left: 3em;
    padding: 1.5em;
}

.signup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
    flex-direction: column;
}

.signup-container>div:first-child {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 2em;
}

form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
}


.signup-container>div:first-child>h1 {
    color: var(--accent-color);
    font-family: var(--font-main);
    font-weight: 1000;
}


form input {
    background: rgba(38, 106, 45, 0.52);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5.3px);
    -webkit-backdrop-filter: blur(5.3px);
    border: 1px solid rgba(38, 106, 45, 0.16);
    color: var(--primary-color);
    font-size: 1.2em;
    padding: 0.75rem;

}

input::placeholder {
    color: var(--accent-color);
    opacity: 1;
}

.green-input {
    color: var(--primary-color);
    background: rgba(38, 106, 45, 0.71);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(8.2px);
    -webkit-backdrop-filter: blur(8.2px);
    border: 1px solid rgba(38, 106, 45, 0.26);
    font-size: 1.2em;
    padding: 0.75em;
}

@media only screen and (max-width: 600px) {
    /* Mobile-specific styles go here */
    .green-header {
        font-size: 1em; /* Adjust the font size for mobile */
    }

    .solidgreen1 {
        height: 1em;
    }

    .solidgreen2 {
        height: 0.5em;
    }

    .green-header>div:nth-child(2) {
        margin-left: 1em;
        padding: 1em;
    }

    .signup-container {
        margin-top: 50%;
    }

    .signup-container>div:first-child {
        gap: 1em;
    }

    form {
        gap: 1em;
    }

    .signup-container>div:first-child>h1 {
        font-size: 1.5em; /* Adjust the font size for mobile */
    }

    form input {
        font-size: 1em; /* Adjust the font size for mobile */
        padding: 0.5rem; /* Adjust the padding for mobile */
    }

    .green-input {
        font-size: 1em; /* Adjust the font size for mobile */
        padding: 0.5em; /* Adjust the padding for mobile */
    }

    .title{
        font-size: 1.5em;
    }


    /* Add more styles as needed for smaller screens */
}